{% if page.lang == 'en' %}
  {% assign full_path = "_" | append: 'en' | append: "/" | append: include.path %}
  {% assign post = site.docs_by_path[full_path] %} 
{% endif %}

{% if page.lang != 'en' %}    
  {% assign full_path = "_" | append: page.lang | append: "/" | append: include.path %}
  {% assign localized_file = site.docs_by_path[full_path] %}

  {% if localized_file %}
    {% assign post = localized_file %}
  {% else %}
    {% assign full_path = "_" | append: 'en' | append: "/" | append: include.path %}
    {% assign post = site.docs_by_path[full_path] %} 
  {% endif %}
{% endif %}

<div>
{% if post[0] == nil %}
  <a href="wrong-link-target">wrong-link-target {{ full_path }} in {{ page.url }}</a>
{% else %}
  <a href="{{ post[0] }}">{{ post[1] }} <sup>in English</sup></a><!-- localize sup using i18n - it: in inglese, es: en inglés, nl: in Engels -->
{% endif %}
</div>